@model IEnumerable<AccountBookViewModels>
@{
    Layout = null;
    int recordCount = 0;
}

@helper checkcategory(int i)
{
if (i == 0)
{
        @Html.Label("支出", new { @style = "color:red" })
}
else if (i == 1)
{
        @Html.Label("收入", new { @style = "color:blue" })
}
}
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <tr>
                <th>#</th>
                <th>
                    @Html.DisplayNameFor(model => model.category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.money)
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@(++recordCount)</td>
                    <td>                        
                        @checkcategory((int)item.category)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.money)
                    </td>
                </tr>
            }
        </table>
    </div>
</div>